@page "/addtofavourites"
@using System.Security.Claims
@using CinemaSocial.Data
@using CinemaSocial.Models.Entities
@using CinemaSocial.Patterns
@using CinemaSocial.Patterns.Strategy
@using CinemaSocial.Repository
@using Microsoft.AspNetCore.Authorization
@inject IMovieRepository MovieRepository
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject AppDbContext DbContext
@attribute [Authorize(Roles = "Administrator,User")]

<PageTitle>Add to Favourites</PageTitle>

<h1>Add to Favourites</h1>

<div class="input-group mt-3 mb-3">
    <input type="text" class="form-control" placeholder="Search for a movie" @bind="_searchTerm" @oninput="UpdateSearchResults">
</div>
<div class="d-flex justify-content-center @(_isFavouritesSuccessful == true ? "text-success" : "text-danger")">@_messageFavourites</div>
@if (_searchResults != null && _searchResults.Any())
{
    <div class="dropdown-menu show" style="max-height: 400px; overflow-y: auto;">
        @foreach (var movie in _searchResults)
        {
            <a class="dropdown-item" @onclick="() => AddToFavouritesList(_userId, movie.IdMovie)">@movie.Title</a>
        }
    </div>
}

@code {
    private string _searchTerm = string.Empty;
    private List<Movie>? _searchResults;
    int _userId;
    
    private string? _messageFavourites;
    private bool? _isFavouritesSuccessful;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userIdClaim = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (userIdClaim != null)
        {
            _userId = int.Parse(userIdClaim);
        }
    }
    
    private async Task UpdateSearchResults(ChangeEventArgs e)
    {
        _searchTerm = e.Value!.ToString()!;
        _searchResults = (!string.IsNullOrEmpty(_searchTerm) ? (await MovieRepository.GetMoviesAsync()).Where(m => m!.Title.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase)).ToList() : null)!;
        StateHasChanged();
    }

    async void AddToFavouritesList(int userId, Guid movieId)
    {
        var addToFavouritesStrategy = new AddToFavouritesStrategy(DbContext);
        var isAlreadyInFavourites = await addToFavouritesStrategy.IsInWatchlistAsync(userId, movieId);
        if (isAlreadyInFavourites)
        {
            _messageFavourites = "This movie is already in your watchlist Favourites";
            _isFavouritesSuccessful = false;
        }
        else
        {
            WatchlistService service = new WatchlistService(addToFavouritesStrategy);
            await service.AddToFavourites(userId, movieId);
            NavigationManager.NavigateTo("/watchlists");
        }
    }
}