@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <nav class="navbar navbar-expand navbar-light bg-light px-4">
            <a class="navbar-brand" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <div class="navbar-nav ml-auto">
                <AuthorizeView>
                    <NotAuthorized>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/signup">Sign up</a>
                    </NotAuthorized>
                    <Authorized>
                        <a class="nav-link" href="/logout">Logout</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>