@using CinemaSocial.Models.Entities

@{
    var image = Movie!.Images.FirstOrDefault(i => i.NumberUrl == "190")!;
}

<div class="card h-100 fade-in">
    <img src="@image.Url" class="card-img-top" alt="Movie Poster"/>
    <div class="card-body p-2 border-top bg-light">
        <h5 class="card-title">@Movie.Title</h5>
        <p class="card-text">@Movie.Year</p>
    </div>
    <div class="card-footer p-1 text-end">
        <a class="btn btn-primary col-6" href="/movie/@Movie.IdMovie">Details</a>
    </div>
</div>


@code {
    [Parameter]
    public Movie? Movie { get; set; }
    
}