@using CinemaSocial.Models.Entities
@inject IJSRuntime JS

@{
    Image image = null;
    if (Movie != null)
    {
        image = Movie.Images.FirstOrDefault(i => i.NumberUrl == "190");
    }
}

@if (Movie is not null)
{
    <div class="card h-100 fade-in" @ref="posterCardElement">
        @if (image != null)
        {
            <img src="@image.Url" class="card-img-top" alt="Movie Poster"/>
            <div class="card-body p-2 border-top bg-light">
                <h5 class="card-title">@Movie.Title</h5>
                <p class="card-text">@Movie.Year</p>
            </div>
            <div class="card-footer p-1 text-end">
                <a class="btn btn-primary col-6" href="/movie/@Movie.IdMovie">Details</a>
            </div>
        }
        else
        {
            <img src="https://ih1.redbubble.net/image.1349748792.1068/fposter,small,wall_texture,square_product,600x600.u1.jpg" class="card-img-top" alt="Movie Poster"/>
        }
    </div>
}
else
{
    <div class="">
        <img class="card-img-top" alt="Movie Poster" src="https://ih1.redbubble.net/image.1349748792.1068/fposter,small,wall_texture,square_product,600x600.u1.jpg"/>
        <div class="card-body border-top bg-light">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
            </p>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary disabled placeholder col-6">Details</button>
        </div>
    </div>
}

@code {
    private ElementReference posterCardElement;
    
    [Parameter]
    public Movie Movie { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("console.log", "OnAfterRenderAsync called");
        if (firstRender)
        {
            await JS.InvokeVoidAsync("console.log", "OnAfterRenderAsync: first render");
            await JS.InvokeVoidAsync("console.log", "Initializing VanillaTilt on posterCardElement");
            await JS.InvokeVoidAsync("console.log", posterCardElement);
            await JS.InvokeVoidAsync("VanillaTilt.init", posterCardElement, new
            {
                max = 15,
                speed = 300
            });
            await JS.InvokeVoidAsync("console.log", "VanillaTilt initialized");
        }
    }

    public void Dispose()
    {
        JS.InvokeVoidAsync("VanillaTilt.destroy", posterCardElement);
    }
    
}